mat-card {
  width: 170%;
  height: 100%;
  margin: 10px 10px -16px 10px !important;
}

mat-card-content {
  overflow: auto;
  height: 100%;
}

mat-card-header {
  /*background: #0A5508;*/
  /*background: #c0d9c3;*/
  background: #71b07b;
}

#loading img {
  width: 30px;
  height: 30px;
  margin-left: 200px;
}
.csearch {
  height: 40px;
  width: 100%;
  margin-top: 5px;
}
#ssearch mat-card-content {
  padding-top: 30px;
}
#ssearch mat-form-field {
  padding-left: 15px;
  width: 200px;
}
#ssearch button {
  width: 195px;
  margin-left: 10px;
  margin-top: 5px;
  background-color: #435f3b;
}
.tableview {
  /*width: 800px;*/
  overflow: auto;
  /*display: block;*/
}

#areaform {
  padding-top: 20px;
}

/*#areaform mat-form-field {*/
/*  width: 200px;*/
/*  !*padding-left: 30px;*!*/
/*  padding: 10px;*/
/*}*/

#imgpanel {
  height: 100px;
  margin-bottom: 30px;
}

#imgpanel img {
  height: 100px;
  width: 100px;
}

#selectbutton,#clearbutton {
  width: 150px;
  display: block;
  margin-left: 150px;
  margin-bottom: 5px;
  /*background-color: darkolivegreen;*/
  background-color: #194220;
  color: white;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}

#selectbutton {
  margin-top: -100px;
}

#butpanel {
  margin-top: 30px;
  margin-bottom: 30px;
}

#butpanel button {
  width: 70px;
  margin: 3px;
  background-color: #435f3b;
  color: white;
  /*margin-right: 10px;*/
}

.selected-row {
  background-color: #c9e6ff!important;
}

mat-table mat-row:hover {
  /*background-color: inherit!important;*/
  background-color: #9AA1CE;
}

#areaform mat-form-field .ng-dirty {
  background-color: gold;
}

button:disabled {
  opacity: 0.5;
}

