mat-grid-list {
  padding: 10% 20% 10% 20% !important;
  margin: 20px;
}

mat-grid-list mat-grid-tile:nth-child(1) {
  /*background-color: #D3D5E6 !important;*/
  min-height: 100px !important;;
  /*border: black 2px solid;*/
}

img {
  /*width: 50%;*/
  /*height: 80%;*/
  width: 550px;
  height: 440px;
}

mat-card {
  height:80% !important;
  width: 220px;
  margin: 10px;
  background-color: #C8CAFC;
}

mat-card-content img {
  /*width: 120px;*/
  /*height: 100px;*/
  width: 100px;
  height: 100px;
  border: solid;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 50px;
}

mat-card:hover{
 background-color: #9A9DF3;
}

mat-card-content img:hover {
  /*width: 120px;*/
  /*height: 100px;*/
  width: 102px;
  height: 102px;

}

mat-card-content p{
  text-align: center;
  color: black;
}

mat-card-content a {
 text-decoration: none;
}


