<mat-grid-list [cols]="2" rowHeight="5rem">

  <mat-grid-tile [colspan]="1" [rowspan]="6">
    <img src="assets/uva-tea-border.jpg">
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="3">

    <mat-card>
      <mat-card-content>
        <div>
          <p>Tasks</p>
          <a href="#"><img src="assets/quicklinks/tasks.jpg"></a>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div>
          <p>Productions</p>
          <a href="#"><img src="assets/quicklinks/production.jpg"></a>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div>
          <p>Attendance</p>
          <a href="#"><img src="assets/quicklinks/attendance.png"></a>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div>
          <p>Register</p>
          <a routerLink="../employee"><img src="assets/quicklinks/register.jpg"></a>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="3">

    <mat-card>
      <mat-card-content>Card 2</mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>Card 2</mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>Card 2</mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>Card 2</mat-card-content>
    </mat-card>

  </mat-grid-tile>


</mat-grid-list>
